# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
env/
ENV/

# Variables d'environnement
.env

# Base de données
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep
